# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
tasks.db

# Conda
*.conda

# Node / React
node_modules/
dist/
npm-debug.log*
Frontend/.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/